@using Stardust.Data;
@{
    var path = Context.Request.Path + "";

    var appId = Context.Request.Query["appId"].ToInt(0);
    if (appId == 0 && path.StartsWithIgnoreCase("/Registry/App/Detail"))
    {
        appId = Context.Request.Query["Id"].ToInt(0);
    }
}
@if (appId > 0)
{
    var app = App.FindById(appId);
    <div class="navbar-collapse collapse" style="text-align:center">
        <ul class="nav nav-pills" style="margin-bottom: 10px; display: inline-block;float: none;">
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Registry/App/Detail")?"active":"")">
                <a href="/Registry/App/Detail?Id=@appId">@(app?.ToString() ?? "信息")</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Registry/AppOnline")?"active":"")">
                <a href="/Registry/AppOnline?appId=@appId">在线</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Registry/AppHistory")?"active":"")">
                <a href="/Registry/AppHistory?appId=@appId">历史</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Registry/AppCommand")?"active":"")">
                <a href="/Registry/AppCommand?appId=@appId">命令</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Registry/AppMeter")?"active":"")">
                <a href="/Registry/AppMeter?appId=@appId">性能</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Registry/AppService")?"active":"")">
                <a href="/Registry/AppService?appId=@appId">服务提供</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Registry/AppConsume")?"active":"")">
                <a href="/Registry/AppConsume?appId=@appId">服务消费</a>
            </li>
        </ul>
    </div>
}