@using Stardust.Data.Deployment;
@using Stardust.Data.Nodes;
@using Stardust.Data.Platform;
@{
    var obj = Model as Object;
    var path = Context.Request.Path + "";
    var projectId = Context.Request.Query["projectId"].ToInt(0);
    if (projectId == 0 && path.StartsWithIgnoreCase("/Platform/GalaxyProject"))
    {
        projectId = Context.Request.Query["Id"].ToInt(0);
    }

    var prj = GalaxyProject.FindById(projectId) ?? new GalaxyProject();

    var dic = new Dictionary<String, Object>();
    dic[prj.Name + ""] = "/Platform/GalaxyProject/Edit?Id=" + projectId;
    dic["节点"] = "/Nodes/Node?projectId=" + projectId;
    dic["节点在线"] = "/Nodes/NodeOnline?projectId=" + projectId;
    dic["Redis节点"] = "/Redis/RedisNode?projectId=" + projectId;
    dic["应用"] = "/Registry/App?projectId=" + projectId;
    dic["应用在线"] = "/Registry/AppOnline?projectId=" + projectId;
    dic["监控"] = "/Monitors/AppTracer?projectId=" + projectId;
    dic["配置"] = "/Configs/AppConfig?projectId=" + projectId;
    dic["发布"] = "/Deployment/AppDeploy?projectId=" + projectId;
}
@if (projectId > 0)
{
    <div class="navbar-collapse text-center">
        <ul class="nav nav-pills" style="margin-bottom: 10px; display: inline-block;float: none;">
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Platform/GalaxyProject")?"active":"")">
                <a href="/Platform/GalaxyProject/Edit?Id=@projectId">项目：@(prj?.ToString() ?? "信息")</a>
            </li>
            <li role="presentation" class="@(path.EqualIgnoreCase("/Nodes/Node")?"active":"")">
                <a href="/Nodes/Node?projectId=@projectId">节点</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Nodes/NodeOnline")?"active":"")">
                <a href="/Nodes/NodeOnline?projectId=@projectId">节点在线</a>
            </li>
            <li role="presentation" class="@(path.EqualIgnoreCase("/Registry/App")?"active":"")">
                <a href="/Registry/App?projectId=@projectId">应用</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Registry/AppOnline")?"active":"")">
                <a href="/Registry/AppOnline?projectId=@projectId">应用在线</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Monitors/AppTracer")?"active":"")">
                <a href="/Monitors/AppTracer?projectId=@projectId">监控</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Configs/AppConfig")?"active":"")">
                <a href="/Configs/AppConfig?projectId=@projectId">配置</a>
            </li>
            <li role="presentation" class="@(path.StartsWithIgnoreCase("/Deployment/AppDeploy")?"active":"")">
                <a href="/Deployment/AppDeploy?projectId=@projectId">发布</a>
            </li>
        </ul>
    </div>
}