@using NewLife;
@using NewLife.Web;
@using NewLife.Cube;
@using XCode;
@using Stardust.Data.Monitors;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;

    var dic = AppTracer.FindAllWithCache().ToDictionary(e => e.ID, e => e + "");
    var appId = page["monitorId"].ToInt(-1);
    if (appId <= 0) appId = page["appId"].ToInt(-1);
    var itemId = page["itemId"].ToInt(-1);
}
@if (itemId > 0)
{
    var ti = TraceItem.FindById(itemId);
    <div class="form-group">
        <a href="traceItem?Id=@itemId" class="btn btn-warning btn-sm">@ti</a>
    </div>
}
@if (appId > 0)
{
    var app = AppTracer.FindByID(appId);
    <div class="form-group">
        <a href="appDayStat?monitorId=@appId" class="btn btn-success btn-sm" title="应用最近的监控图表">@app</a>
    </div>
}
@if (appId > 0 && itemId > 0)
{
    <div class="form-group">
        @Html.ActionLink("每5分钟", null, "traceMinuteStat", new { appId, itemId })
        @Html.ActionLink("每小时", null, "traceHourStat", new { appId, itemId })
        @Html.ActionLink("每天", null, "traceDayStat", new { appId, itemId })
    </div>
}
<div class="form-group">
    <label for="appId" class="control-label">应用：</label>
    @Html.ForDropDownList("appId", dic, page["appId"], "全部", true)
</div>
@if (page["date"].IsNullOrEmpty())
{
    @await Html.PartialAsync("_DateRange")
}